.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: 'rgba (0,0,0,0.3)';
    padding: 50px;
}

.modalStyle {
    background-color: white;
    border-radius: 5px;
    max-width: 600px;
    min-height: 300px;
    margin: 0 auto;
    padding: 30px;
    position: relative;
    z-index: 1313;
}

.footerStyle {
    position: absolute;
    padding: 20px;
}