/* MODALS **********************************************************************/

.bites-modals {
    border: white 8px solid;
    background: #F2641C;
    color: white;
}

.modal-header,
.modal-body,
.modal-footer {
    padding: .5rem 1rem;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.modal-submit {
    background: #F29C1C;
    color: white;
    margin-bottom: 5px;
}

.modal-submit:hover {
    color: white;
    background: #FFC773;
}

.fa-times {
    color: white;
}