body {
    font-family: 'Roboto', sans-serif;
    background: #F2641C;
    color: white;
}

/* JUMBOTRON ELEMENTS **************************************************************/

.jumbotron {
    background: url(./images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    height: 100vh;
}

.jumbotron .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(242, 100, 28, .8);
}

.jumbotron .jumbo-inner {
    padding-top: 30vh;
}

#slogan {
    font-weight: 900;
}

#slogan-text {
    font-weight: 500;
    max-width: 700px;
}


/* LEARN MORE ARROW ***********************************************************/

#arrow-div {
    position: absolute;
    bottom: 0;
    left: 50%;
}

#more-btn {
    color: white
}

#more-btn:hover {
    color: #FEB64A;
    text-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

/* SECTIONS **********************************************************************/

.info-sections {
    background: #5D8CBD;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 576px) { 


 }

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) { 

    .logo {
        height: 75px;
        width: auto;
        margin-left: 80px;
    }

    .form-inline {
        display: flex;
    }

    .jumbotron .jumbo-inner {
        padding-top: 40vh;
    }

    #login-btn-1 {
        background: white;
        color: #F29C1C;
        height: 40px;
        width: 110px;
    }

    #login-btn-1:hover {
        background: #F29C1C;
        color: white;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    }

    #signUp {
        color: white
    }

    #signUp:hover {
        color: #FEB64A;
        text-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    }

    #btn-row {
        display: none;
    }

 }

/* Medium devices (tablets, less than 992px) */
@media (min-width: 992px) {

}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) { 


 }