body {
    font-family: 'Roboto', sans-serif;
    background: #F2641C;
    color: white;
}

.buttons {
    font-weight: 700;
    color: white
}

.btn:focus {
    box-shadow: none;
}

.buttons:hover {
    color: #FEB64A;
    text-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

/* NAV BAR ELEMENTS ********************************************************************/

.navbar {
    background: rgba(242, 100, 28, .8);
}

.logo {
    height: 50px;
    width: auto;
}



/* FOOTER ***********************************************************/

#main-footer {
    padding: 40px 20px 10px;
}


/* MODALS **********************************************************************/

/* .modal-header,
.modal-btn {
    background: #FEB64A;
    color: white;
}

.close {
    color: white;
    font-size: 2rem;
} */

.bites-modals {
    border: white 8px solid;
    background: #F2641C;
    color: white;
}

.modal-header,
.modal-body,
.modal-footer {
    padding: .5rem 1rem;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.modal-submit {
    background: #F29C1C;
    color: white;
    margin-bottom: 5px;
}

.modal-submit:hover {
    color: white;
    background: #FFC773;
}

.fa-times {
    color: white;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 576px) { 


 }

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) { 

    .logo {
        height: 75px;
        width: auto;
        margin-left: 80px;
    }

 }

/* Medium devices (tablets, less than 992px) */
@media (min-width: 992px) {

}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) { 


 }




