/* .container-fluid {
    background: rgba(242, 100, 28, .8);
} */

.col-md-6 {
    position: absolute;
    margin-top: 0%;
    left: 25%;
}

@media (max-width: 690px) {
    .col-md-6 {
        position: absolute;
        left: 0;
        right: 0;
        top: 25%;
    }
} 
@media (min-width: 1000px) {
    .col-md-6 {
        position: absolute;
        margin-top: 0%;
        left: 25%;
    }
}